

    <p>Your pizzas</p>
<div class="show">
    <p>First name: <%= @pizza.first_name %></p>
    <p>Last name: <%= @pizza.last_name %></p>
    <p>Toppings: <%= @pizza.topping %></p>
    <p>Quantity: <%= @pizza.quantity %></p>

</div>

<div class="choices">


    <a href="/pizzas/<%= @pizza.id %>/edit"></a>

    <form action="/pizzas/<%= @pizza.id %>/edit" method="get">
        <input type="submit" value="Edit">
    </form>

    <a href="/pizzas/<%= @pizza.id %>/delete"></a>

    <form action="/pizzas/<%= @pizza.id %>/delete" method="post">
        <input type="submit" value="Delete">
    </form>

</div>
